<!-- header mujeres -->
<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!-- Bootstrap 4.4-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> <!-- font awesome icons -->
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="../../css/app.css"> <!--CSS File-->
</head>
<body>

        <!-- STARTS NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="d-flex col-xs-1 justify-content-start">
                <a href="/english" id="brand" class="navbar-brand d-none d-lg-inline">Vinner mx</a>
            </div>
            <!-- toggler -->
            <div class="d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <!-- <span class="navbar-toggler-icon"></span> -->
                  <i class="key-icon fas fa-2x fa-ellipsis-v mt-2"></i>
                </button>
            </div>  
            <!-- collapsed part -->
            <div class="collapse navbar-collapse" id="navContent">
              <div class="d-flex row col-lg-12 justify-content-end mobile">
                  <ul class="navbar-nav" id="toggle-content">
                    <li class="nav-item">
                      <a href="/english" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                      <a href="/english/app" class="nav-link">Vinner App</a>
                    </li>
                    <li class="nav-item">
                      <a href="/english/certifications" class="nav-link">Certifcations</a>
                    </li>
                    <li class="nav-item">
                      <a href="/english/vinner" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a href="/english/contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a href="/english/team" class="nav-link">Team</a>
                    </li>
                    <li class="nav-item">
                      <a href="/" class="nav-link">Español</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>