node_modules
readme.md 
variables.env
colaboradors.json
consultors.json
fundadors.json
aliados.json
.DS_Store
extra
equipo2.ejs
views/new
routes/new.js
pagina web.ai 
Vinner WebPage.png 
seed.js
English