<%- include("./partials/header") %>

<!-- Top -->
<h1 class="text-center m-3">App Vinner</h1>
<p class="text-center">- creando seguridad juntos -</p>
<div id="mujeres" class="jumbotron p-0">
    <div>
    </div>
</div>

<!-- Qué hacemos -->
<section>
    <div class="text-justify">
          <h1>¿Qué hacemos?</h1>
        <p>Utilizamos tecnologías existentes para<span class="resaltar"> mostrarte tu 
          ciudad en zonas de seguridad, la ruta más segura a tu 
          destino y asesoría especializada de manera totalmente gratuita, </span>creando una comunidad 
          en la que puedas confiar para que puedas estar en las calles 
          sin temor, con libertad y confianza.</p>
          <p>Porque te queremos y te queremos libre, trabajamos 
            por ti para crear una manera segura de poder transitar 
            por las calles de nuestra bella Guadalajara.</p>
            <div>
                <!-- Video -->
                <h1>Conoce más...</h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/j7ZpFZ6dI_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <video class="w-100" src="../vinner.compressed.mp4" controls></video> -->
            </div>
          <p class="mt-5"><span class="resaltar"> Estamos trabajando de la mano con el Departamento de 
            Innovación y Central de Cambio del Tecnológico de Monterrey, 
            campus Guadalajara </span>para crear una solución innovadora e 
            integral que impacte la vida de miles de personas que, como 
            tú, han sido víctimas de la violencia en nuestro país.</p>
    </div>
</section>

  <!-- key points -->
  <section>
    <div class="row">
      <!-- icon1 -->
      <div class="col-md-4 text-center">
        <img class="w-50 m-4" src="imgs/iconos/comunidad.png" alt="" class="mb-4">
        <p class="title mb-2">Crear comunidad</p>
        <p class="text-justify">Brindar una plataforma de usuarios confiables en la que 
          participen activamente para colaborar al bienestar 
          colectivo.</p>
      </div>
    <!-- icon2 -->
      <div class="col-md-4 text-center">
        <img class="w-50 m-4" src="imgs/iconos/vincular.png" alt="" class="mb-4">
        <p class="title mb-2">Vincular personas</p>
        <p class="text-justify">Ser intermediarios entre los usuarios que quieran 
          saber más del tema o requieran atención personalizada 
          con especialistas en diferentes áreas sociales.</p>
      </div>
    <!-- icon3 -->
      <div class="col-md-4 text-center">
        <img class="w-50 m-4" src="imgs/iconos/colaborar.png" alt="" class="mb-4">
        <p class="title mb-2">Colaborar con empresas</p>
        <p class="text-justify">Trabajar de la mano con empresas para generar una 
          concientización sobre las prácticas correctas que 
          propicien la equidad de género en el ambiente laboral.</p>
      </div>
    </div>
  </section>

<!-- Cómo funciona -->
<section>
    <h1 class="text-center mb-4">¿Cómo funciona?</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-8 col-md-4 text-center">
            <img class="w-75 mb-4" src="../imgs/phone/descarga.png"> 
            <p>1. Descarga la app</p>
        </div>
        <div class="col-8 col-md-4 text-center">
            <img class="w-75 mb-4" src="../imgs/phone/registrar.png" alt=""> 
            <p>2. Regístrate</p>
        </div>
        <div class="col-8 col-md-4 text-center">
            <img class="w-75 mb-4" src="../imgs/phone/utilizarla.png" alt="">
            <p>3. Comienza a utilizarla</p>
        </div>
    </div>

    <!-- Aseguramos la seguridad -->
    <div class="blue p-3">
        <p class="text-center">Aseguramos la seguridad de nuestra comunidad con <strong>códigos de acceso</strong>,
        los cuales solo pueden ser <strong>proporcionados por la empresa o por miembros
        internos de la comunidad.</strong> </p>
    </div>
</section>

        <!-- Utilities -->
<section id="app" class="utilities text-center">
    <h1 class="mb-5">Conoce las funciones</h1>
    <div class="d-flex row justify-content-around">
        <div class="col-6 col-md-3">
            <img class="mb-4" src="../imgs/phone/ruta.png" alt="">
            <p>Identifica la ruta más segura a tu destino</p>
        </div>
        <div class="col-6 col-md-3">
            <img class="mb-4" src="../imgs/phone/ayuda.png" alt="">
                <p>Recibe ayuda de la comunidad Vinner</p>
        </div>
        <div class="col-6 col-md-3">
            <img class="mb-4" src="../imgs/phone/comparte.png" alt="">
            <p>Comparte tu trayecto con tus contactos de emergencia</p>
        </div>
        <div class="col-6 col-md-3">
            <img class="mb-4" src="../imgs/phone/safe_spot.png" alt="">
            <p>Localiza puntos de seguridad alrededor de la ciudad</p>
        </div>
    </div>
    <div class="blue text-center">
        <p>Espera la app muy pronto</p>
    </div>
</section>

<section>
    <!-- si eres una empresa -->
    <h1 class="text-center">Si eres una empresa...</h1>
    <div class="row align-items-center">
        <p class="text-justify">Nuestra intención es incentivar el comercio local, 
            y darte una ventaja competitiva como empresa libre
            de violencia de género y aumentar tu posicionamiento alrededor 
            de tu establecimiento.
            </p>
        <div class="d-flex col-md-6 justify-content-center my-3">
            <img class="w-50" src="../imgs/phone/empresa.png" alt="">
        </div>
        <div class="col-md-6 text-justify">
            <p>Podrás promocionar tu establecimiento como punto 
                de seguridad una vez hayas completado la Certificación 
                en Ambiente Libre de Violencia de Género y obtener un valor
                agregado para tu mercado frente a tus competidores.
            </p>
            <p>Por medio de la app podrás visualizar el tráfico peatonal
            alrededor de tu establecimiento, el alcance que tienes entre 
            nuestra comunidad de usuarios y estadísticas de posicionamiento 
            de tu marca. 
            </p>
        </div>
    </div>
    
</section>

<!-- formulario se parte de la comunidad -->
<section>
    <div>
      <h1 class="text-center">Ayúdanos a Mejorar</h1>
        <p class="text-center">Trabajamos por ti y para ti, queremos conocer tu opinión, no olvides dejar comentarios y sugerencias
        </p>
        <div class="text-center">
            <a href="https://forms.gle/KCSTvZbqvHiiBnFp6" target="tab" class="btn btn-outline-info">Haz Click Aquí</a>
        </div>
        <!-- <form action="/opinion" method="POST">
        <section>
            <div class="form-group">
                <p class="m-0">Nombre</p>
                <input class="form-control" type="text" name="opinion[nombre]" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <p class="m-0">Edad</p>
                <input class="form-control" type="number" name="opinion[edad]" placeholder="Ej. 23" required>
            </div>
            <div class="form-group">
                <p class="m-0">Contacto</p>
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="opinion[celular]" placeholder="Celular" required>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <input class="form-control" type="text" name="opinion[correo]" placeholder="Correo Electrónico" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p class="m-0">¿Utilizarías esta app una vez este disponible?</p>
                <select class="form-control" id="utilizar" name="opinion[utilizar]" required>
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                  </select>
            </div>
            <div class="form-group">
                En caso de responder no, ¿qué haría falta para que te animes a probarla?
                <input class="form-control" type="text" name="opinion[falta]">
            </div>
            <div class="form-group">
                Sugerencias y comentarios
                <textarea class="form-control" name="opinion[sugerencia]" id="sugerencia" cols="50" rows="5">
                </textarea>
            </div>
            <input type="submit" value="enviar" class="btn btn-outline-info">
        </section>
        </form> -->
    </div>
</section>

<%- include("./partials/footer") %>