<%- include("./partials/headerEnglish") %>

<!-- Top -->
<h1 class="text-center m-3">Vinner App</h1>
<p class="text-center">- creating safety together -</p>
<div id="mujeres" class="jumbotron p-0">
    <div>
    </div>
</div>

<!-- Qué hacemos -->
<section>
    <div class="text-justify">
          <h1>What do we do?</h1>
        <p>We use existing technologies to <span class = "highlight"> show the
            city in safety zones, the safest route to your
            destination and specialized advice, completely free of charge, </span> creating a community
            you can trust so you can be on the streets
            fearless, freed and confident.</p>
          <p>Because we love you and we want you free, we work
             for you to create a safe way to travel
             through the streets of our beautiful Guadalajara.</p>
            <div>
                <!-- Video -->
                <h1>Theres more...</h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/j7ZpFZ6dI_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <video class="w-100" src="../vinner.compressed.mp4" controls></video> -->
            </div>
          <p class="mt-5"><span class="resaltar"> We are working hand in hand with the Department of
            Innovative Social Entrepreneurship and Change Center of Tecnológico de Monterrey,
            Guadalajara campus </span> to create an innovative solution and
            comprehensive that impacts the lives of thousands of people who, like
            you, have been victims of violence in our country.</p>
    </div>
</section>

  <!-- key points -->
  <section>
    <div class="d-flex row mobile">
      <!-- icon1 -->
      <div class="col-10 col-lg-4 text-center">
        <!-- <img class="w-50 m-4" src="imgs/iconos/comunidad.png" alt="" class="mb-4"> -->
        <i class="key-icon fas fa-7x fa-users"></i>
        <p class="title mb-2">Creating community</p>
        <p class="text-justify">Provide a reliable platform in which user's
            actively participate to collaborate to the collective well-being.</p>
      </div>
    <!-- icon2 -->
      <div class="col-10 col-lg-4 text-center">
        <!-- <img class="w-50 m-4" src="imgs/iconos/vincular.png" alt="" class="mb-4"> -->
        <i class="key-icon fas fa-7x fa-link"></i>
        <p class="title mb-2">Linking people</p>
        <p class="text-justify">Be intermediaries between users who want
            know more about the subject or require personalized attention
            with specialists in different social areas.</p>
      </div>
    <!-- icon3 -->
      <div class="col-10 col-lg-4 text-center">
        <!-- <img class="w-50 m-4" src="imgs/iconos/colaborar.png" alt="" class="mb-4"> -->
        <i class="key-icon fas fa-7x fa-cogs"></i>
        <p class="title mb-2">Enterprise collaboration</p>
        <p class="text-justify">Work hand in hand with companies to generate a
        awareness of good practices that promote gender equality in the workplace.</p>
      </div>
    </div>
  </section>

<!-- Cómo funciona -->
<section>
    <h1 class="text-center mb-4">How does it work?</h1>
    <div class="row d-flex justify-content-center mobile">
        <div class="col-6 col-lg-4 text-center">
            <img class="w-75 mb-4" src="../imgs/phone/descarga.png"> 
            <p>1. Download the app</p>
        </div>
        <div class="col-6 col-lg-4 text-center">
            <img class="w-75 mb-4" src="../imgs/phone/registrar.png" alt=""> 
            <p>2. Register</p>
        </div>
        <div class="col-6 col-lg-4 text-center">
            <img class="w-75 mb-4" src="../imgs/phone/utilizarla.png" alt="">
            <p>3. Start using it</p>
        </div>
    </div>

    <!-- Aseguramos la seguridad -->
    <div class="blue p-3">
        <p class="text-center">We ensure the security of our community with <strong> access codes </strong>,
            which can only be <strong> provided by the company or by members
            of the community. </strong></p>
    </div>
</section>

        <!-- Utilities -->
<section id="app" class="utilities text-center">
    <h1 class="mb-5">Know the functions</h1>
    <div class="d-flex row justify-content-around">
        <div class="col-5 col-lg-3">
            <img class="mb-4" src="../imgs/phone/ruta.png" alt="">
            <p>Locate the safest route to your destination</p>
        </div>
        <div class="col-5 col-lg-3">
            <img class="mb-4" src="../imgs/phone/ayuda.png" alt="">
                <p>Get help from Vinner community</p>
        </div>
        <div class="col-5 col-lg-3">
            <img class="mb-4" src="../imgs/phone/comparte.png" alt="">
            <p>Share your journey with your emergency contacts</p>
        </div>
        <div class="col-5 col-lg-3">
            <img class="mb-4" src="../imgs/phone/safe_spot.png" alt="">
            <p>Locate safety points around your city</p>
        </div>
    </div>
    <div class="blue text-center">
        <p>Wait for your app soon</p>
    </div>
</section>

<section>
    <!-- si eres una empresa -->
    <h1 class="text-center">If you are a business...</h1>
    <div class="row align-items-center justify-content-center">
        <p class="text-justify">Our intention is to encourage local commerce,
        and give you a competitive advantage as a free company
        of gender violence and increase your position around
        of your establishment.
            </p>
        <div class="d-flex col-8 col-lg-6 justify-content-center my-3">
            <img class="w-50" src="../imgs/phone/empresa.png" alt="">
        </div>
        <div class="col-12 col-lg-6 text-justify">
            <p>
            You can promote your establishment as a point
            security once you have completed the Certification
            in Environment Free of Gender Violence and obtain a value
            added for your market against your competitors.
            </p>
            <p>Through the app you can view pedestrian traffic
            around your establishment, the reach you have between
            our user community and positioning statistics
            of your brand.
            </p>
        </div>
    </div>
    
</section>

<%- include("./partials/footer") %>