<%- include("./partials/header") %>
<!-- Top -->
<h1 class="text-center m-3">Certificaciones</h1>
<p class="text-center">- creando seguridad juntos -</p>
<div id="empresas" class="jumbotron p-0">
    <div>
    </div>
</div>

 <!-- Qué hacemos -->
 <section>
     <div>
         <h1>¿Qué hacemos?</h1>
         <p>Trabajamos de la mano con especialistas en <strong>modelos de masculinidad, equidad de género, psicología y derechos humanos</strong> 
             para erradicar la violencia de género en las calles utilizando la educación, al crear certificaciones asesorados por el 
             Tecnológico de Monterrey para comenzar a crear un cambio en la cultura de México.
         </p>
         <div class="row">
            <!-- POR QUÉ ELEGIR VINNER -->
            <h2 class="mt-4">¿Por Qué Elegir Vinner?</h2>
            <p>Contamos con especialistas con maestría y doctorado, 
           y estamos en constante asesoría por parte del Tecnológico de Monterrey para 
           darte el mejor servicio.</p>
           <p>Pero lo más importante, al tomar tu certificación con 
           nosotros estarás apoyando la iniciativa y nos ayudarás a llegar 
           a la siguiente etapa más rápido, nuestra meta es cambiar los patrones de
           comportamiento dentro de la sociedad mexicana y eliminar los modelos de
           masculinidad tóxica que han afectado a nuestra sociedad por décadas.
           </p>
        </div>
        <!-- 2 tipos de certificaciones -->
         <div>
            <h2 class="text-center">Contamos con dos tipos de certificaciones</h2> 
         </div>
         <div class="row text-center mt-5">
            <div class="col-md-6">
                <div class="my-3 certmode">
                    <i class="fa-3x fas fa-user-graduate"></i>
                </div>
                <p class="key-title mt-3">Certificación Individual</p>
                <p>Estamos desarrollando una certificación
                individual con temas relacionados a prevención, 
                violencia en las calles, modelos de masculinidad 
                tóxica, cómo identificarlos y cómo lograr un cambio
                en ti y en los que te rodean.
                </p> 
            </div>
            <div class="col-md-6">
                <div class="my-3 certmode">
                    <i class="fa-3x fas fa-user-graduate"></i>
                    <i class="fa-3x fas fa-user-graduate"></i>
                    <i class="fa-3x fas fa-user-graduate"></i>
                </div>
                <p class="key-title">Certificación Empresarial</p> 
                <p>Estamos desarrollando una certificación Empresarial 
                adaptable a las necesidades y tamaño de cada empresa, 
                con la finalidad de identificar patrones de violencia 
                de género dentro y fuera del área laboral. 
                </p>
            </div>
         </div>
    </section>
    
    <!-- certificación individual -->
    <section>
            <h1 class="text-center mb-4">Certificación Individual</h1>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img class="w-50 mb-5" src="../imgs/semipresencial.png" alt="">
                    <p class="text-justify">Certificación en modalidad semi-presencial en temas de equidad de género que te ayudará
                    a identificar modelos de masculinidad tóxica, escenarios de violencia
                    de género, conocerás términos como machismo y micromachismo, pero sobre
                    todo,<strong> aprenderás a identificarlos y podrás apoyarnos a ser un factor 
                    de cambio en nuestra sociedad.</strong></p>
                </div>
                <div class="col-lg-6 text-center">
                    <img class="w-50 mb-5" src="../imgs/replica.png" alt="">
                    <p class="text-justify">Al finalizar la certificación podrás tener la opción de recibir tu
                        certificado o seguir con otro proceso para desarrollarte como especialista Vinner
                        y así como nosotros,<strong> puedas ayudarnos a replicar este modelo de certificación. Porque juntos, 
                        lograremos el cambio</strong> </p>
                </div>
            </div>
    </section>

    <!-- certificación empresarial -->
    <section>
        <h1 class="text-center mb-5">Certificación Empresarial</h1>
        <!-- cómo funciona -->
        <h2 class="text-center mb-5">¿Cómo Funciona?</h2>
        <div class="row empresa">
            <p>Nuestro grupo de especialistas nos ayudará a crear
            una Certificación en Ambiente Libre de Violencia de Género
            con temáticas que permitirán a tu empresa:
            </p>
            <div class="col-xs-7 col-sm-6 col-lg-3 text-center">
                <i class="fa-4x fas fa-bullseye mb-3"></i>
                <p>Identificar Patrones de Masculinidad Tóxicos</p>
            </div>
            <div class="col-xs-7 col-sm-6 col-lg-3 text-center">
                <i class="fa-4x fas fa-venus-mars mb-3"></i>
               <p>Crear un ambiente construido en equidad de género</p> 
            </div>
            <div class="col-xs-7 col-sm-6 col-lg-3 text-center">
                <i class="fa-4x fas fa-street-view mb-3"></i>
               <p>Crear presencia entre tu comunidad de usuarios</p> 
            </div>
            <div class="col-xs-7 col-sm-6 col-lg-3 text-center">
                <i class="fa-4x fas fa-hand-holding-heart mb-3"></i>
                <p>Crear un ambiente idóneo para la convivencia de tus clientes
                dentro de tu establecimiento comercial</p>
            </div>
         </div>
     </div>
<!-- Proceso -->
     <div>
        <h2 class="text-center mb-5">Conoce el proceso</h2>
         <p class="text-center mb-3">La certificación se divide en 5
            etapas en las que tendrás el apoyo de nuestra comunidad
            de especialistas. Después de completar la certificación automáticamente
            formarás parte de la comunidad Vinner y <strong>tendrás la opción
            de tener tu establecimiento promocionado como punto de seguridad
            en nuestro mapa en la <a href="/app">app Vinner.</a> </strong> </p>
</section>
<!-- TITLES -->
<section id="steps">
    <div class="row justify-content-center">
        <div class="col-5 col-lg-2 text-center">
            <i class="key-icon fas fa-cogs fa-4x my-3"></i>
            <p class="key-title">Desarrollo</p>
            <hr>
            <p>Desarrollamos un taller de acuerdo a tus necesidades y 
                la cantidad de personal que tengas</p>         
        </div>
        <div class="col-5 col-lg-2 text-center">
            <i class="key-icon fas fa-key fa-4x my-3"></i>
            <p class="key-title">Acceso</p> 
            <hr>
            <p>Se te proporcionan tus claves de acceso para tu 
                material didáctico virtual y físico</p>
        </div>
        <div class="col-5 col-lg-2 text-center">
            <i class="key-icon fas fa-network-wired fa-4x my-3"></i>
            <p class="key-title">Taller</p> 
            <hr>
            <p>Se imparte el taller en modalidad semipresencial
                utilizando nuestra plataforma con las claves de
                acceso que se te proporcionaron para tu empresa.</p>
        </div>
        <div class="col-5 col-lg-2 text-center">
            <i class="key-icon fas fa-star fa-4x my-3"></i>
            <p class="key-title">Certificación</p>
            <hr>
            <p>Se te otorga una Certificación en Empresa Libre de 
                Violencia de Género</p> 
        </div>
        <div class="col-5 col-lg-2 text-center">
            <i class="key-icon fas fa-users fa-4x my-3"></i>
            <p class="key-title">Comunidad</p> 
            <hr>
            <p>Formas parte de la Comunidad Corporativa Vinner y 
                tienes acceso a beneficios especiales</p>
        </div>
    </div>
</section>
<section>
<!-- EXPLICACIÓN --> 
     <div>
         <h4 class="text-center blue-title">¡Espera noticias muy pronto!</h4>
     </div>
    </section>

 <!-- Si quieres más información -->
 <section>
    <div>
      <h1 class="text-center my-5">Quiero conocer más</h1>
        <p class="text-center">Si quieres más información, o quieres que te informemos cuando la certificación
            esté disponible déjanos tus datos o <a href="/contacto">contáctanos</a></p>
        <a href="https://forms.gle/vDs4uqvQTFbWUqDz5" class="btn btn-outline-info"></a>
        <!-- formulario -->
        <!-- <form action="/informacion" method="POST">
        <section>
            <div class="form-group">
                <p class="m-0">Empresa (si aplica)</p>
                <input class="form-control" type="text" name="info[nombreEmpresa]" placeholder="Nombre">
            </div>
            <div class="form-group">
                <p class="m-0">Contacto</p>
                <input class="form-control" type="text" name="info[nombre]" placeholder="Nombre" required>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <input class="form-control" type="text" name="info[telefono]" placeholder="Teléfono o Ceular" required>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control mt-3 mt-lg-0" type="text" name="info[extension]" placeholder="Ext.">
                    </div>
                </div>
                <div class="mt-3">
                    <input class="form-control" type="text" name="info[correo]" placeholder="Correo Electrónico" required>
                </div>    
            </div>
            <div class="form-group">
                <p>Modalidad</p>
                <select class="form-control" name="info[modalidad]" required>
                    <option value="individual">Certificación Individual</option>
                    <option value="empresarial">Certificación Empresarial</option>
                </select>
            </div>
            <div class="form-group">
                <p>Motivo</p>
                <select class="form-control" name="info[motivo]" required>
                    <option value="información">Quiero más información</option>
                    <option value="notificación">Quiero una notificación cuando esté lista</option>
                </select>
            </div>
            <div class="form-group">
                Comentarios adicionales
                <textarea class="form-control" name="info[comentarios]" cols="50" rows="5">
                </textarea>
            </div>
            <input type="submit" value="enviar" class="btn btn-outline-info">
        </section>
        </form> -->
    </div>
</section>

<%- include("./partials/footer") %>