<%- include("./partials/headerEnglish") %>
<!-- Top -->
<h1 class="text-center m-3">Certifications</h1>
<p class="text-center">- creating safety together -</p>
<div id="empresas" class="jumbotron p-0">
    <div>
    </div>
</div>

 <!-- Qué hacemos -->
 <section>
     <div>
         <h1>What do we do?</h1>
         <p>We work hand in hand with specialists in <strong> models of masculinity, gender equality, psychology and human rights </strong>
            to eradicate gender violence in the streets using education, by creating certifications advised by the
            Tecnológico de Monterrey to start creating a change in the culture of Mexico.
         </p>
         <div class="row">
            <!-- POR QUÉ ELEGIR VINNER -->
            <h2 class="mt-4">Why choose Vinner?</h2>
            <p>We have specialists with masters and doctorates,
            and we are in constant advice from the Tecnológico de Monterrey to
            give you the best service.</p>
           <p>But most importantly, by taking your certification with
            us, you will be supporting the initiative and you will help us to reach
            to the next stage. Our goal is to change the patterns of
            behavior within Mexican society and eliminate models of
            toxic masculinity that have affected our society for decades.
           </p>
        </div>
        <!-- 2 tipos de certificaciones -->
         <div>
            <h2 class="text-center">We have two different certificates</h2> 
         </div>
         <div class="d-flex row text-center mt-5 mobile">
            <div class="col-10 col-lg-6">
                <div class="my-3 certmode">
                    <i class="fa-3x fas fa-user-graduate"></i>
                </div>
                <p class="key-title mt-3">Individual Certification</p>
                <p>We are developing a certification
                individual with topics related to prevention,
                street violence, models of masculinity
                toxic, how to identify them and how to make a change
                in you and in those around you.
                </p> 
            </div>
            <div class="col-10 col-lg-6">
                <div class="my-3 certmode">
                    <i class="fa-3x fas fa-user-graduate"></i>
                    <i class="fa-3x fas fa-user-graduate"></i>
                    <i class="fa-3x fas fa-user-graduate"></i>
                </div>
                <p class="key-title">Business Certification</p> 
                <p>We are developing a business certification
                adaptable to the needs and size of each company,
                in order to identify patterns of violence
                gender inside and outside the workplace. 
                </p>
            </div>
         </div>
    </section>
    
    <!-- certificación individual -->
    <section>
            <h1 class="text-center mb-4">Individual Certification</h1>
            <div class="d-flex row mobile">
                <div class="col-lg-6 text-center">
                    <img class="w-50 mb-5" src="../imgs/semipresencial.png" alt="">
                    <p class="text-justify">Certification in a hybrid modality of virtual and on site classes on issues of gender equality that will help you
                    identify models of toxic masculinity, scenarios of violence gender, you will know terms like machismo and micromachismo, but most important, 
                    <strong> you will learn to identify them and support us to be a changemaker in our society. </strong></p>
                </div>
                <div class="col-lg-6 text-center">
                    <img class="w-50 mb-5" src="../imgs/replica.png" alt="">
                    <p class="text-justify">At the end of the certification you will have the option to receive your
                    certificate or continue with another stage to develop yourself as a Vinner specialist, and just 
                    like us, <strong> you can help us replicate this certification model. Because together,
                    we will achieve change </strong> </p>
                </div>
            </div>
    </section>

    <!-- certificación empresarial -->
    <section>
        <h1 class="text-center mb-5">Business Certification</h1>
        <!-- cómo funciona -->
        <h2 class="text-center mb-5">¿How does it work?</h2>
        <div class="d-flex row empresa mobile">
            <p>Our group of specialists will help us create
                a Certification in an Gender Violence-Free Environment
                with themes that will allow your company:
            </p>
            <div class="col-10 col-lg-3 text-center">
                <i class="fa-4x fas fa-bullseye mb-3"></i>
                <p>Identify Toxic Masculinity Patterns</p>
            </div>
            <div class="col-10 col-lg-3 text-center">
                <i class="fa-4x fas fa-venus-mars mb-3"></i>
               <p>Create an environment built on gender equality</p> 
            </div>
            <div class="col-10 col-lg-3 text-center">
                <i class="fa-4x fas fa-street-view mb-3"></i>
               <p>Create presence among your user community</p> 
            </div>
            <div class="col-10 col-lg-3 text-center">
                <i class="fa-4x fas fa-hand-holding-heart mb-3"></i>
                <p>Create an ideal environment for the coexistence of your clients
                within your commercial establishment</p>
            </div>
         </div>
     </div>
<!-- Proceso -->
     <div>
        <h2 class="text-center mb-5">Know the process</h2>
         <p class="text-center mb-3">The certification is divided into 5
            stages in which you will have the support of our community
            of specialists. After completing the certification automatically
            you will be part of the Vinner community and <strong> you will have the option
            to have your establishment promoted as a security point
            on our map in the <a href="/english/app"> Vinner app.</a> </strong> </p>
</section>
<!-- TITLES -->
<section id="steps" class="d-flex mobile justify-content-around">
        <div class="text-center">
            <i class="key-icon fas fa-cogs fa-4x my-3"></i>
            <p class="key-title">Development</p>
            <hr>
            <p>We develop a workshop according to your needs and
            the amount of staff you have</p>         
        </div>
        <div class=" text-center">
            <i class="key-icon fas fa-key fa-4x my-3"></i>
            <p class="key-title">Access</p> 
            <hr>
            <p>Your access codes are provided for you
            virtual and physical teaching material</p>
        </div>
        <div class=" text-center">
            <i class="key-icon fas fa-network-wired fa-4x my-3"></i>
            <p class="key-title">Workshop</p> 
            <hr>
            <p>The workshop is taught in blended modality
            using our platform with the keys of
            access that was provided for your company.</p>
        </div>
        <div class="text-center">
            <i class="key-icon fas fa-star fa-4x my-3"></i>
            <p class="key-title">Certification</p>
            <hr>
            <p>You are awarded a Certification in Free Company of
                Gender violence</p> 
        </div>
        <div class="text-center">
            <i class="key-icon fas fa-users fa-4x my-3"></i>
            <p class="key-title">Community</p> 
            <hr>
            <p>You are part of the Vinner Corporate Community and
            you have access to special benefits</p>
        </div>
    </section>
<section>
<!-- EXPLICACIÓN --> 
     <div>
         <h4 class="text-center blue-title">Wait for news very soon!</h4>
     </div>
    </section>

<%- include("./partials/footer") %>