<%- include("./partials/header") %>
<div class="d-flex justify-content-center">
    <h1 class="mt-4">Contáctanos</h1>
</div>  

  <section>
    <div class="row justify-content-center">
      <!-- contacto -->
      <div id="contacto" class="col-10 col-lg-4 text-center mb-5 order-2 order-lg-1">
        <img class="w-75 mb-4 d-none d-lg-block" src="imgs/contacto.png">
        <div class="d-flex align-items-center justify-content-center">
          <p><i class="d-none d-lg-block fa-2x far fa-envelope"></i></p><p class="ml-3"> contacto.vinner@gmail.com</p>
        </div>
        <p>Síguenos en redes sociales</p>
        <p><a href="https://www.facebook.com/vinner.mx/"><i class="mx-2 fa-2x fab fa-facebook"></i></a> <a href="https://www.instagram.com/vinner_mx/"><i class="mx-2 fa-2x fab fa-instagram"></i></a></p>
      </div>

      <div class="col-10 col-lg-8 text-center contacto order-1 order-lg-2">
        <div class="row justify-content-center">
          <!-- Valeria -->
          <div class="col-10 col-md-6 text-center fundadores">
            <img class="w-75 d-none d-md-inline" src="imgs/Equipo/valeria-color.png" alt="">
            <h6 class="my-3"><strong>Valeria Toscano Alcalá</strong> </h6>
            <p class="mb-2">Fundadora de Vinner</p>
            <p><span><i class="fas fa-mobile-alt fa-lg"></i></span> +5213325065949</p>
          </div>
          <!-- Edgar -->
          <div class="col-10 col-md-6 text-center fundadores">
            <div class="justify-content-center">
              <img class="w-75 d-none d-md-inline" src="imgs/Equipo/edgar-color.png" alt="">
            </div>
            
            <h6 class="my-3"><strong>Jesús Edgar Lamarque Tirado</strong> </h6>
            <p class="mb-2">Fundador de Vinner</p>
            <p><span><i class="fas fa-mobile-alt fa-lg"></i></span> +5213326819926</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("./partials/footer") %>