<%- include("./partials/header") %>

<!-- check if user or company -->
<section>
  <h1 class="text-center m-2">¡Bienvenido!</h1>
  <div id="woman" class="jumbotron"> 
    <div class="tagline">
      <p class="text-center">creando seguridad juntos</p>
    </div>      
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-5">
      <div class="d-none d-md-block text-center">
        <img class="home mb-2 d-inline" src="../imgs/Logo Azul.png" alt="">
        <h1 class="text-center">Vinner</h1>
      </div> 
      <!-- <div id="home-equipo" class="jumbotron"></div> -->
    </div>
    <div class="col-md-7 col-12">
      <p class="text-justify">Somos un emprendimiento social que busca <strong>erradicar la 
        violencia de género en las calles desde la educación y utilizando 
        medidas de prevención.</strong> Buscamos re-educar a nuestra sociedad en 
        temas relacionados a patrones de masculinidad tóxica, actitudes machistas y
        escenarios de violencia de género que hemos normalizado, por medio de certificaciones 
        tanto individuales como empresariales, mientras utilizamos una aplicación móvil 
        como medida de prevención para reducir los índices de inseguridad en las calles. 
      </p>
    </div>
  </div>
</section>
<section>
  <h1 class="text-center">Conoce más sobre nosotros</h1>
  <div class="mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-md-4 text-center align-items-end">
          <a href="/app">
            <img class="w-50" src="../imgs/phone/descarga.png" alt="">
            <!-- <img src="https://images.unsplash.com/photo-1505535162959-9bbcb4ab22d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1041&q=80" alt=""> -->
          </a>
          <h2 class="mt-3">App Vinner</h2>
        </div>
        <div class="col-10 col-md-4 text-center align-items-end">
          <a href="/certificaciones">
            <img class="w-100" src="../imgs/certificacion.png" alt="">
            <!-- <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""> -->
          </a>
          <h2 class="mt-3">Certificaciones</h2>
        </div>
      </div>
    </div> 
  </div>
</section>

<%- include("./partials/footer") %>
