<%- include("./partials/header") %>

<!-- titulo, imagen y descripcion -->

<div class="d-flex justify-content-center">
    <h1 class="mt-4">#soyvinner</h1>
</div>  

<div class="jumbotron">
</div>

<!-- Descripciòn -->
<section class="m-5">
  <div class="row align-items-center">
    <div class="col-md-6 text-center m-auto">
      <p>Utilizar las tecnologías existentes para<span class="resaltar"> mostrarte tu 
        ciudad en zonas de seguridad, la ruta más segura a tu 
        destino y asesoría especializada, </span>creando una comunidad 
        en la que puedas confiar para que puedas estar en las calles 
        sin temor, con libertad y confianza.</p>
        <p>Porque te queremos y te queremos libre, trabajamos 
          por ti para crear una manera segura de poder transitar 
          por las calles de nuestra bella Guadalajara.</p>
        <p class="mt-5"><span class="resaltar"> Estamos trabajando de la mano con el Departamento de 
          Innovación y Central de Cambio del Tecnológico de Monterrey, 
          campus Guadalajara </span>para crear una solución innovadora e 
          integral que impacte la vida de miles de personas que, como 
          tú, han sido víctimas de la violencia en nuestro país.</p>
  </div>
</section>


  <!-- key points -->
  <section class="m-5 key">
    <div class="row align-items-center">
      <!-- icon1 -->
      <div class="col-md-4 text-center mb-5">
        <img src="imgs/comunidad.png" alt="" class="mb-4">
        <p class="title mb-2">- Crer comunidad -</p>
        <p>Brindar una plataforma de usuarios confiables que 
          participen activamente para colaborar al bienestar 
          colectivo.</p>
      </div>

    <!-- icon2 -->
      <div class="col-md-4 text-center mb-5">
        <img src="imgs/vincular.png" alt="" class="mb-4">
        <p class="title mb-2">- Vincular personas -</p>
        <p>Ser intermediarios entre los usuarios que quieran 
          saber más del tema o requieran atención personalizada 
          con especialistas en diferentes áreas sociales.</p>
      </div>
    <!-- icon3 -->
      <div class="col-md-4 text-center mb-5">
        <img src="imgs/colaborar.png" alt="" class="mb-4">
        <p class="title mb-2">- Colaboración con empresas -</p>
        <p>Trabajar de la mano con empresas para generar una 
          concientización sobre las prácticas correctas que 
          propicien la equidad de género en el ambiente laboral.</p>
      </div>
    </div>
  </section>

  <%- include("./partials/footer") %>