<%- include("./partials/headerEnglish") %>

<!-- titulo, imagen y descripcion -->

<div class="text-center">
  <a href="/english">
    <h1 class="mt-4">Vinner Mx</h1>
  </a>
    
</div>  

<!-- imagenes -->
<section>
  <div class="text-center">
    <div class="d-flex row justify-content-center container mobile">
      <div class="d-none d-lg-block col-lg-4 order-md-1">
        <img src="../imgs/mx.png" alt="Logo">
      </div>
      <div class="col-md-4 col-md-6 col-lg-4 order-1 order-lg-1">
        <img src="../imgs/life.png" alt="Vive Intelingente">
      </div>
      <div class="d-none d-lg-block col-md-6 col-lg-4 order-md-3">
        <img src="../imgs/values.png" alt="Valores">
      </div>
      <p class="my-3 order-2 order-md-4">Transdisciplinary Youth Team
        with a passion for social entrepreneurship seeking to create a
        positive impact on the mexican community, giving solutions
        to the problem of growing insecurity to which they are
        thousands of women exposed in Mexico</p>
    </div>
  </div>
  <!-- Misión & Visión-->
      <div class="d-flex row mobile">
        <!-- Misión -->
        <div class="col-10 col-lg-6 text-center">
          <img id="mision" class="my-2" src="../imgs/mision.png" alt="">
          <h2 class="mt-3">Mission</h2>
          <div>
            <!-- <p class="text-justify">Generar impacto en la vida de las personas 
            al darles herramientas de prevención con las cuales puedan 
            tener control sobre su seguridad</p> -->
            <p class="text-justify">Make an impact on people's lives
              using education and prevention measures to change beliefs
              limitations with which we have grown as a country and progressively eradicate the toxic patterns of masculinity that have given
              foot to scenes of violence.</p>
          </div>
        </div>

        <!-- Visión -->
        <div class="col-10 col-lg-6 text-center">
          <img id="vision" class="my-2" src="../imgs/vision.png" alt="">
          <h2 class="mt-3">Vission</h2>
          <div>
            <p class="text-justify">To be the leading company in the development of prevention measures
              and collective security education in Mexico, contributing to making our country a place
              where you can live freely and safely creating a change in
              the collective beliefs and behaviors of Mexican society.</p>
          </div>
        </div>
    </div>
  </section>

  <!-- quote -->

  <section>
    <div class="row justify-content-center">
      <div id="quote" class="col-10 col-lg-6 text-center w-100">
        <p class="text-justify"><span><img src="imgs/comilla.png" alt="">
        </span>We want to create
           a community where you feel confident that
           you can live in freedom with the hope that Mexico is
           turning into a country where you can walk the streets
           with security, confidence and freedom. 
          <span><img src="imgs/comilla2.png" alt=""></span>
        </p>
      </div>
      <div class="col-md-6 text-center">
        <div class="row justify-content-center">
          <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
            <img class="w-75 my-4" src="../imgs/Equipo/valeria.png" alt="">
          <p class="m-0">Valeria Toscano Alcalá</p>
          <p class="m-0">CEO and Founder of Vinner</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <%- include("./partials/footer") %>