<%- include("./partials/header") %>

<!-- titulo, imagen y descripcion -->

<div class="text-center">
    <h1 class="mt-4">Vinner</h1>
</div>  

<!-- imagenes -->
<section>
  <div class="text-center">
    <div class="d-flex row justify-content-center container mobile">
      <div class="d-none d-lg-block col-lg-4 order-md-1">
        <img src="imgs/Logo.png" alt="Logo">
      </div>
      <div class="col-md-4 col-md-6 col-lg-4 order-1 order-lg-1">
        <img src="imgs/vive.png" alt="Vive Intelingente">
      </div>
      <div class="d-none d-lg-block col-md-6 col-lg-4 order-md-3">
        <img src="imgs/valores.png" alt="Valores">
      </div>
      <p class="my-3 order-2 order-md-4">Equipo transdiciplinario de jóvenes 
      con pasión por el emprendimiento social que buscan crear un 
      impacto positivo en la comunidad mexicana, dando soluciones 
      a la problemática de la creciente inseguridad a la que están 
      expuestas miles de mujeres en México</p>
    </div>
  </div>
  <!-- Misión & Visión-->
      <div class="d-flex row mobile">
        <!-- Misión -->
        <div class="col-10 col-lg-6 text-center">
          <img id="mision" class="my-2" src="imgs/mision.png" alt="">
          <h2 class="mt-3">Misión</h2>
          <div>
            <!-- <p class="text-justify">Generar impacto en la vida de las personas 
            al darles herramientas de prevención con las cuales puedan 
            tener control sobre su seguridad</p> -->
            <p class="text-justify">Generar impacto en la vida de las personas 
            utilizando medidas de educación y prevención para cambiar las creencias 
            limitantes con las que hemos crecido como país y erradicar progresivamente los patrones tóxicos de masculinidad que han dado 
            pie a escenarios de violencia.</p>
          </div>
        </div>

        <!-- Visión -->
        <div class="col-10 col-lg-6 text-center">
          <img id="vision" class="my-2" src="imgs/vision.png" alt="">
          <h2 class="mt-3">Visión</h2>
          <div>
            <p class="text-justify">Ser la empresa líder en desarrollo de medidas de prevención 
            y educación de seguridad colectiva en México, contribuyendo a que nuestro país sea un lugar 
            en el que se puede vivir libre y seguro creando un cambio en 
            las creencias y comportamientos colectivos de la sociedad Mexicana.</p>
          </div>
        </div>
    </div>
  </section>

  <!-- quote -->

  <section>
    <div class="row justify-content-center">
      <div id="quote" class="col-8 col-lg-6 text-center w-100">
        <p class="text-justify"><span><img src="imgs/comilla.png" alt=""></span> Queremos crear 
          una comunidad en la que te sientas con la confianza de que 
          puedes vivir en libertad con la esperanza que México se está 
          convirtiendo en un país en el que puedes caminar por las calles 
          con seguridad, confianza y libertad. 
          <span><img src="imgs/comilla2.png" alt=""></span>
        </p>
      </div>
      <div class="col-md-6 text-center">
        <div class="row justify-content-center">
          <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
            <img class="w-75 my-4" src="../imgs/Equipo/valeria.png" alt="">
          <p class="m-0">Valeria Toscano Alcalá</p>
          <p class="m-0">Fundadora de Vinner</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <%- include("./partials/footer") %>