<%- include("../partials/header") %>

  <h1 class="text-center">Vinner Empresarial</h1>
  <h2 class="mt-4 text-center">Preguntas Frecuentes</h2> 

  <!-- fundadores -->
  <section>
    <div class="d-flex">
        <p class=" d-block title">¿Cuánto Cuesta?</p>
    </div>
    <div class="d-flex">
        <p class="d-block">Ofrecemos diferentes paquetes acorde a tus necesidades.
        </p>
    </div>

    <div class="d-flex">
      <p class="title">¿Qué pasa si mi negocio se encuentra en una zona de peligro?</p>
    </div>
    <div class="d-flex">
      <p>Al tener la certifcación, tu negocio se convierte en un punto de seguridad
          dentro de la zona roja, lo que te ayudará a atraer a más usuarios a tu 
          establecimiento comercial y nos servirá para gestionar los cambios necesarios
        en la zona para convertirla en zona segura. </p>
    </div>

    <div class="d-flex">
      <p class="title">¿Cuánto dura la certificación?</p>
    </div>
    <div class="d-flex">
      <p>1 año, dividido en 4 módulos de 3 meses cada uno.</p>
    </div>
    <div>
        <p class="title"></p>
    </div>
  </section>
  
  <%- include("../partials/footer") %>