<%- include("../partials/header") %>

  <h1 class="text-center">Vinner Mujeres</h1>
  <h2 class="mt-4 text-center">Preguntas Frecuentes</h2> 

  <!-- fundadores -->
  <section>
    <div class="d-flex">
        <p class=" d-block title">¿Es sólo para mujeres?</p>
    </div>
    <div class="d-flex">
        <p class="d-block">Por el momento sí, trabajamos cada día para ampliar
          los perfiles de usuario que pueden utilizar la aplicación, si te interesa
          conocer cuando la aplicación esté disponible para ti, <a href="/nuevo-usuario">dejanos tus datos.</a> 
        </p>
    </div>

    <div class="d-flex">
      <p class="title">¿Cómo puedo estar segura de que la aplicación es confiable?</p>
    </div>
    <div>
      <p>Trabajamos de la mano con desarrolladores del más alto nivel para 
        actualizar constantemente el código de la plataforma, generando día
        a día mejores criterios que garantizan tu seguridad.
      </p>
      <p>Contamos con tres métodos de validación de rutas seguras y zonas de seguridad:</p>
      <p>1. Base de datos alimentada por las mismas usuarias por medio de alertas y notificaciones</p> 
      <p>2. Uso de bases de datos externas que generan reportes continuamente se nos
        notifica de manera inmediata.</p>  
      <p>3. Se identifican patrones en base a datos anteriores por medio de un criterio 
        de la situación actual de cada zona.</p>
    </div>
    <div class="d-flex">
      <p class="title">¿Dónde la consigo?</p>
    </div>
    <div class="d-flex">
      <p>Seguimos trabajando en la etapa final de desarrollo de la
        versión beta, pero muy pronto podrás descargarla, si quieres que 
        te notifiquemos cuando esté lista, déjanos <a href="/app-lista">tus datos</a>
        y te contaremos en cuanto esté disponible.
      </p>
    </div>
    <div class="d-flex">
      <p class="title">¿Cómo puedo saber que puedo confiar en las otras usuarias?</p>
    </div>
    <div class="d-flex">
      <p>Nos preocupamos mucho por tu seguridad y la de toda nuestra comunidad,
        por lo que el registro y acceso a nuestra plataforma sólo es posible por 
        medio de un código proporcionado por una usuaria ya verificada dentro de la 
        app o por medio de un proceso de selección sujeto a criterios de especialistas
        certificados Vinner.
      </p>
    </div>
    <div class="d-flex">
      <p class="title">¿Hay otra manera de conseguir un código de acceso?</p>
    </div>
    <div class="d-flex">
      <p>Sí, si no conoces a nadie que sea parte de la comunidad Vinner, aún así
        puedes solicitar un código por medio de <a href="/acceso">este formulario</a> que será evaluado
        por nuestros especialistas, quienes te darán solución de 24 a 72 horas hábiles.
      </p>
    </div>
  </section>
  
  <%- include("../partials/footer") %>