<%- include("../partials/header") %>

  <section>
    <div>
      <h1>Obtén tu código de acceso</h1>

      <h3>Aún nos encontramos en la etapa de desarrollo, si quieres que 
          te notifiquemos cuando nuestra versión beta esté disponible, 
          <a href="/app-lista"> déjanos tus datos.</a>
      </h3>
        <!-- <p>Si no tienes ningún contacto dentro de la comunidad Vinner,
            no te preocupes, llena este formulario y obtén tu código de acceso.</p>
        <form action="/opinion" method="POST">
        <section>
            <div class="form-group">
                <p class="m-0">Nombre</p>
                <input class="form-control" type="text" name="nombre" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <p class="m-0">Edad</p>
                <input class="form-control" type="number" name="edad" placeholder="Ej. 23" required>
            </div>
            <div class="form-group">
                <p class="m-0">Contacto</p>
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="celular" placeholder="Celular" required>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="correo" placeholder="Correo Electrónico" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p class="m-0">¿Utilizarías esta app una vez este disponible?</p>
                <select class="form-control" id="utilizar" name="utilizar" required>
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                  </select>
            </div>
            <div class="form-group">
                En caso de responder no, ¿qué haría falta para que te animes a probarla?
                <input class="form-control" type="text" name="falta">
            </div>
            <div class="form-group">
                Sugerencias y comentarios
                <textarea class="form-control" name="sugerencia" id="sugerencia" cols="50" rows="5">
                </textarea>
            </div>
            <input type="submit" value="enviar" class="btn btn-outline-info">
        </section>
        </form>
    </div>
</section> -->
  
  <%- include("../partials/footer") %>